/* centered main */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
/* centered main  with max width*/
main {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: var(--size-2);
}

.full {
  width: 100%;
}
