@layer theme {
  html {
    color-scheme: var(--color-scheme);
  }

  .light {
    --color-scheme: light;
  }
  .dark {
    --color-scheme: dark;
  }

  :where(html) {
    color-scheme: light dark;

    --palette-hue: 140; /* Value: 0 - 360 of hugh colors. See color details below. */
    --palette-hue-rotate-by: 0; /* Should almost always be 0. See color details below. */
    --palette-chroma: 0.4; /* Saturation of colors (i.e. 0 = greyed out, 1 = full color. */

    --background: light-dark(var(--gray-1), var(--gray-12));

    --border-radius: var(--size-1);
    --field-border-radius: var(--size-1);
    --button-border-radius: var(--radius-round);

    a {
      color: var(--color-6);
    }
  }
}
