<div id="chat">
  <fieldset>
    <legend>AI Output</legend>
    <div class="chat">
      {% for message in messages %}
      <p>{{ message.role }} : {{ message.content }}</p>
      <input type="hidden" name="roles" value="{{ message.role }}" />
      <input type="hidden" name="messages" value="{{ message.content }}" />
      {% endfor %}
    </div>
  </fieldset>
  <fieldset>
    <legend>AI Input</legend>
    <p>
      <label for="context">Context:</label>
      <input
        id="context"
        class="full"
        placeholder="context"
        type="text"
        name="context"
        value="{{ context }}"
      />
    </p>
    <p>
      <label for="user_message">User Message:</label>
      <input
        id="user_message"
        class="full"
        placeholder="message"
        type="text"
        name="user_message"
        value="{{ user_message }}"
      />
    </p>
    <p>
      <button
        class="full"
        hx-post="/send_message"
        hx-trigger="click"
        hx-target="#chat"
        hx-swap="outerHTML"
        hx-include="[name=context],[name=user_message],[name=messages],[name=roles]"
      >
        Send
      </button>
    </p>
    <p>
      <button
        class="full"
        hx-post="/clear_messages"
        hx-trigger="click"
        hx-target="#chat"
        hx-swap="outerHTML"
        hx-include="[name=context]"
      >
        Clear
      </button>
    </p>
  </fieldset>
</div>
