<!-- let's make a chat interface using jinja -->
<!DOCTYPE html>
<html>
  {% include "head.html" %}
  <body>
    <div id="chat">
      <fieldset>
        <div>
          <input
            id="username"
            class="full"
            type="text"
            name="username"
            autocomplete="off"
            spellcheck="false"
            autocapitalize="off"
            autocorrect="off"
            placeholder="Enter your name"
            autofocus
          />
        </div>
        <div>
          <button
            class="full"
            hx-post="/"
            hx-target="body"
            hx-trigger="click, keyup[key=='Enter'] from:body"
            hx-include="[name=username]"
          >
            Start
          </button>
        </div>
      </fieldset>
    </div>
  </body>
</html>
